body {
    background: blueviolet;
}
.container {
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);
    display:grid;
    background-color: aquamarine;
    width: 1000px;
    height: 1000px;
    gap: 10px;
}
.row {
    color: black;
    width: 100px;
    height: 120px;
    justify-content: center;
    align-content: center;
    border:solid chocolate 2px;
}
.header {
    background-color: navajowhite;
    grid-column: 1 / -1;
    font-size: 50px;
    color:brown;
} 
.footer {
    background-color: navajowhite;
    grid-column: 1/-1;
    font-size: 50px;
    color: brown;
}